<div class="ang-daterange-picker" style="z-index: 1000; min-height: 328px; position: relative; width: 810px;">
  <mat-card style="width:100%;min-height:328px;padding-top:1px;">
    
    <div style="position: absolute; width: 180px; height: 300px;" class="mat-card-header">
      <table style="margin-top: 1.9em; width:100%;">
        <tr>
          <td class="title">DE</td>
        </tr>
        <tr>
          <td>
            <mat-form-field style="width:100%">
              <input matInput disabled value="" [(ngModel)]="startDateText">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="title">ATÉ</td>
        </tr>
        <tr>
          <td>
            <mat-form-field style="width:100%">
              <input matInput disabled value="" [(ngModel)]="endDateText">
            </mat-form-field>
          </td>
        </tr>
      </table>
      
    </div>
    <div style="margin-left:180px" class="datepicker-list">
      <ang-datepicker 
          [(date)]="startDate" 
          (onSelect)="onSelectStartDate($event)" 
          dateFormat="DD/MM/YYYY" 
          [endDate]="endDate" 
          [startDate]="startDate"
          [months]="['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', ' Dezembro']"
          [dayNames]="['D', 'S', 'T', 'Q', 'Q', 'S', 'S']"
        >
      </ang-datepicker>
      <ang-datepicker 
          [(date)]="endDate" 
          (onSelect)="onSelectEndDate($event)" 
          dateFormat="DD/MM/YYYY" 
          [endDate]="endDate" 
          [startDate]="startDate"
          [months]="['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', ' Dezembro']"
          [dayNames]="['D', 'S', 'T', 'Q', 'Q', 'S', 'S']"
          >
      </ang-datepicker>
    </div>

    <div style="bottom:0px;margin-top:20px;text-align:right;" class="mat-card-footer">
        <button [disabled]="!startDateText || !endDateText" class="btn btn-primary" color="primary" (click)="onApplySelectedDateRange()">Confirmar
              </button>
        <button mat-button (click)="onCloseContextualMenu()">Cancelar
              </button>
    </div>

  </mat-card>
</div>